* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #5EBBE6;
    font-family: "Inspiration", cursive;
    font-weight: 400;
    font-style: normal;
}

html {
    display: grid;
    place-items: center;
    margin-top: 10px;
}

section {
    display: grid;
    margin-top: 10px;
    background-color: #2d8ebb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section h1 {
    color: #09b9ff;
    align-items: left;
    background-color: #2d8ebb;
}

section p {
    align-items: center;
    background-color: #2d8ebb;
}