* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #5EBBE6;
    font-family: "Inspiration", cursive;
    font-weight: 400;
    font-style: normal;
}

html {
    margin-top: 10px;
    min-height: 100vh;
    overflow-x: auto;
    display: flex;
}

header {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-left: 200px;
    top: 10px;
    width: 800px;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
    align-items: start;
    justify-items: center;
    margin-left: 50px;
}

.card1 {
    grid-column: 1 / 2;
    grid-row: 2;
    width: 550px;
    height: 250px;
    background-color: #2d8ebb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card1 h1 {
    color: #09b9ff;
    align-items: left;
    background-color: #2d8ebb;
}

.card1 p {
    align-items: center;
    background-color: #2d8ebb;
}

.card2 {
    grid-column: 2 / 3;
    grid-row: 3;
    width: 550px;
    height: 250px;
    background-color: #2d8ebb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card2 h1 {
    color: #09b9ff;
    align-items: left;
    background-color: #2d8ebb;
}

.card2 p {
    align-items: center;
    background-color: #2d8ebb;
}

.card3 {
    grid-column: 1 / 2;
    grid-row: 4;
    width: 550px;
    height: 250px;
    background-color: #2d8ebb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card3 h1 {
    color: #09b9ff;
    align-items: left;
    background-color: #2d8ebb;
}

.card3 p {
    align-items: center;
    background-color: #2d8ebb;
}

footer {
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
    width: 105%;
    height: 500px;
    background-color: #2d8ebb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    flex-direction: column;
}

footer p,
footer h1 {
    color: black;
    align-items: center;
    background-color: #2d8ebb;
}

footer button {
    background-color: #D9D9D9;
    align-items: left;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    width: 500px;
    align-self: flex-end;

}

#name,
#email {
    display: flex;
    background-color: #D9D9D9;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 500px;
    height: 20px;
    align-self: baseline;


}

#message {
    background-color: #D9D9D9;
    margin-bottom: 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 50px;
    width: 50%;
    align-self: flex-end;
    margin-left: 20px;
    margin-bottom: 50px;

}